body {
    margin:0; /* To remove white space on sides */
    font-family: "Lato", sans-serif;
}

.main {
    position: absolute;
    padding: 20px 10px;
    margin:0;
    top: 85px; /* To stay away from the top navbar */
    left: 230px; /* Same as the width of the sidenav */
    z-index: 99;
    width: 100%; 
}

/* TOP NAVIGATION BAR ᐁ */
.navbar {  /* Styling for the navigation bar */
    background-color: white;
    position: fixed; /* To keep it in view */
    top: 35px;  /* We might need to change this to add the other bar on top */
    width: 100%; /* Fill the screen */
    height: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;    
}

.navbar a { /* Styling links in the navigation bar */
    color: black;
    text-align: center;
    text-decoration: none;  /* No underscore */
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    padding-top: 12px; /* Vertically center */
    padding-bottom: 15px;
    font-size: 20px;
    -webkit-transition-duration: 0.6s; /*Smooth effect*/
    transition-duration: 0.6s; /*Smooth effect*/
}

.navbar a:hover {  /* hover effect for links in the navigation bar */
    color: rgb(45, 219, 114);
    -webkit-transition-duration: 0.6s; /*Smooth effect*/
    transition-duration: 0.6s; /*Smooth effect*/
    height:100%;
}
/* TOP NAVIGATION BAR ᐃ */


/* SIDE NAVIGATION BAR ᐁ */
.sidenav { /* Fixed sidenav, full height */
    padding-top: 35px;
    padding-left: 12px;
    height: 100%;
    width: 200px;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 0;
    overflow-x: hidden;
    -webkit-transition-duration: 0.6s; /*Smooth effect*/
    transition-duration: 0.6s; /*Smooth effect*/
}
.sidenav:hover {
    background-color: rgb(248, 248, 248);
    -webkit-transition-duration: 0.6s; /*Smooth effect*/
    transition-duration: 0.6s; /*Smooth effect*/
}
.sidenav p, .opac {
    opacity: 0;
}
.sidenav:hover p, .sidenav:hover .opac{
    background-color: rgb(248, 248, 248);
    opacity: 1;
    -webkit-transition-duration: 0.6s; /*Smooth effect*/
    transition-duration: 0.6s; /*Smooth effect*/
}

/* SIDE NAVIGATION BAR ᐃ */