body {
    margin:0; /* To remove white space on left side */
    font-family: "Lato", sans-serif;
}

.main {
    padding: 16px 10px;
    margin-top: 25px; /* To stay away from the top navbar */
    height: 1500px; /* to demonstrate scrolling */
    margin-left: 210px; /* Same as the width of the sidenav */
    font-size: 12px; /* Increased text to enable scrolling */
}

/* TOP NAVIGATION BAR ᐁ */
.navbar {  /* Styling for the navigation bar */
    background-color: #eee;
    position: fixed; /* To keep it in view */
    top: 0;  /* We might need to change this to add the other bar on top */
    width: 100%; /* Fill the screen */
    height: 50px;
    overflow: hidden;
}

.navbar a { /* Styling links in the navigation bar */
    color: black;
    text-align: center;
    text-decoration: none;  /* No underscore */
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    padding-top: 12px; /* Vertically center */
    font-size: 20px;
    -webkit-transition-duration: 0.2s; /*Smooth effect*/
    transition-duration: 0.2s; /*Smooth effect*/
}

.navbar a:hover {  /* hover effect for links in the navigation bar */
    background: rgb(71, 168, 74);
    color: white;
    -webkit-transition-duration: 0.6s; /*Smooth effect*/
    transition-duration: 0.6s; /*Smooth effect*/
}
/* TOP NAVIGATION BAR ᐃ */


/* SIDE NAVIGATION BAR ᐁ */
.sidenav { /* Fixed sidenav, full height */
    background-color: rgb(248, 248, 248);
    padding-top: 12px;
    padding-left: 12px;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
}
/* SIDE NAVIGATION BAR ᐃ */
/* For Search bar ᐁ*/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 12px 10px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 90%;
}
/* For Search Bar ᐃ*/

/* For bottom bar ᐁ*/
.bottombar {  /* Styling for the navigation bar */
    background-color: #eee;
    position: fixed; /* To keep it in view */
    bottom: 0;
    width: 100%; /* Fill the screen */
    height: 25px;
    overflow: hidden;
    z-index: 99;
}
/* For bottom bar ᐃ*/

/* For top bar */
.topbar
/* For top bar */