.main {
    width: 100%;
    height: 100%;
}

input[type=text], textarea {
    width: 75%;
    display: block;
    background-color: rgb(248, 248, 248);
    font-family: "Lato";
    font-size: 16px;
}

input[type=number] {
    display: inline-block;
    width: 50px;
    background-color: rgb(248, 248, 248);
}

.product, .description, .quantity, .photo {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.newlistingbutton {
    background-color: rgb(71, 168, 74);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 37.5%;
    opacity: 0.8;
}

.newlistingbutton:hover {
    opacity: 1;
}

/* SIDE NAVIGATION BAR ᐁ */


.sidenav a { /* Styling links in the navigation bar */
    color: black;
    text-align: left;
    text-decoration: none;  /* No underscore */
    float: left;
    width: 75%;
    height: 100%;
    font-size: 14px;
    -webkit-transition-duration: 0.2s; /*Smooth effect*/
    transition-duration: 0.2s; /*Smooth effect*/
    padding-bottom: 7px;
}

.sidenav a:hover {  /* hover effect for links in the navigation bar */
    background: rgb(71, 168, 74);
    color: white;
    -webkit-transition-duration: 0.6s; /*Smooth effect*/
    transition-duration: 0.6s; /*Smooth effect*/
}

ul {
    list-style: none;
    margin-left: -25px;
}

li ul li {
    margin-left: -10px;
}

/* SIDE NAVIGATION BAR ᐃ */



/* For Full Order Table ᐁ*/


.orderTable {
    width: 100%;
    border: 2px solid black;
    border-spacing: 0px;
}

.orderTable th, td {
    text-align: center;
    padding: 1.5px;
}

.sortarrows {
    display:inline-block;
}

.uparrow, .downarrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.downarrow {
    border-top: 5px solid lightgray;
}

.uparrow {
    border-bottom: 5px solid lightgray;
    margin-bottom: 1.5px;
}
/* For Full Order Table ᐃ*/

/* For Daily Order Table ᐁ*/
#dailyOrderTable {
    width: 65%;
    display: inline-block;
    border: 1px solid black;
    position: fixed top left;
}

#dailyDetails tr > *:nth-child(1), #dailyDetails tr > *:nth-child(2), #dailyDetails tr > *:nth-child(3) {
    display: none;
}
/* For Daily Order Table ᐃ*/

/* For Calendar ᐁ*/
#calendardiv {
    width: 30%;
    display: inline-block;
    position: fixed;
}

#calendartable {
    border: 1px solid black;
    width: 50%;
    margin: 0px 10px;
}

#leftarrow, #rightarrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: inline-block;
    cursor: pointer;
}

#leftarrow {
    border-right: 5px solid lightgray;
    margin-right: 2px;
}

#rightarrow {
    border-left: 5px solid lightgray;
    margin-left: 2px;
}

#calendartable th, td {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

#month {
    padding-bottom: 5px;
}

#calendarday {
    font-weight: bold;
}

/* For Calendar ᐃ*/
